<footer id="footer-section" class="b-footer">
  <div class="b-footer-logo">
    <a href="/" class="b-footer-logo__lnk">
      <img class="b-footer-logo__img" src="../../img/triangle.svg" alt="">
    </a>
  </div>
  <ul class="b-footer-nav">
    <% _.each(footer.navigation, function(item) { %>
    <li class="b-footer-nav__item">
      <a class="b-footer-nav__lnk" href="<%= item.link %>"><%= item.name %></a>
    </li>
    <% }); %>
  </ul>
  <div class="b-copyright">
    <p class="b-copyright__text">
      <span>&copy;</span>
      <span><%= footer.copyright %></span>
    </p>
  </div>
</footer>
