<header id="header-section" class="b-header">

  <!-- LOGO -->
  <h1 class="b-logo">
    <a class="b-logo__lnk" href="/">Atomic Guns Record</a>
  </h1>
  <!-- LOGO END -->

  <!-- SUBSCRIBE START -->
  <div id="subscribe-section" class="b-subscribe">
    <button id="subscribe-open" class="b-subscribe__open">
      <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
        <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g  transform="translate(-281.000000, -30.000000)" fill="#D2AB92" class="icon-open">
            <g  transform="translate(-49.000000, -44.000000)">
              <path d="M339,80 L345,80 L345,83 L339,83 L339,89 L336,89 L336,83 L330,83 L330,80 L336,80 L336,74 L339,74 L339,80 Z"
              ></path>
            </g>
          </g>
        </g>
      </svg>
    </button>

    <!-- SUBSCRIBE MAIN (POP-UP) -->
    <div class="b-subscribe__main" id="js-subscribe-box">
      <button id="js-subscribe-close" class="b-subscribe__close">
        <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
          <g  stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g class="icon-close"  transform="translate(-281.000000, -30.000000)"
               fill="#C7A266">
              <g  transform="translate(-49.000000, -44.000000)">
                <path d="M339,80 L345,80 L345,83 L339,83 L339,89 L336,89 L336,83 L330,83 L330,80 L336,80 L336,74 L339,74 L339,80 Z"
                ></path>
              </g>
            </g>
          </g>
        </svg>
      </button>
      <!-- PHRASES -->
      <ul id="phrases" class="b-phrases">
        <% _.each(subscribe.phrases, function(item) { %>
        <li class="b-phrases__text js-phrases"><%= item %></li>
        <% }); %>
      </ul>
      <!-- PHRASES END -->

      <!-- SUBSCRIBE FORM -->
      <div class="b-subscribe__form">
        <p id="label-default" class="b-subscribe__label"><%= subscribe.label %></p>
        <div id="success-message" class="b-subscribe__success"><%= subscribe.success %></div>
        <form id="subscribe-form" class="b-form">
          <div class="b-form__group">
            <input class="b-form__input --size-block" id="email" type="email" name="email" placeholder="<%= subscribe.placeholder %>" required>
          </div>
          <button class="b-btn --size-block --type-uppercase" id="submit"><%= subscribe.button %></button>
        </form>
      </div>
      <!-- SUBSCRIBE FORM -->

    </div>

    <!-- SUBSCRIBE OVERLAY -->
    <div id="js-overlay" class="b-subscribe__overlay"></div>
  </div>
  <!-- SUBSCRIBE END -->
  <div class="b-triangle">
    <svg width="260px" height="210px" viewBox="0 0 260 210" version="1.1">
      <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
        <g transform="translate(-279.000000, 0.000000)" fill="#17181D">
          <g transform="translate(206.000000, -44.000000)">
            <polygon transform="translate(166.500000, 160.500000) scale(-1, 1) rotate(-239.000000) translate(-166.500000, -160.500000) " points="198.253775 33 276 288 57 262.868869"></polygon>
          </g>
        </g>
      </g>
    </svg>
  </div>
</header>
