<div id="instagram-section"  class="instagram">
  <h2 class="instagram-title">Inside The Sound</h2>
    <ul class="b-gallery">
      <li class="b-gallery__item">
        <a class="b-gallery__lnk" href="#">
          <img class="b-gallery__img" src="${require(`../../img/photo.jpg`)}" alt="img">
        </a>
      </li>
      <li class="b-gallery__item">
        <a class="b-gallery__lnk" href="#">
            <img class="b-gallery__img" src="${require(`../../img/photo.jpg`)}" alt="img">
        </a>
      </li>
      <li class="b-gallery__item">
        <a class="b-gallery__lnk" href="#">
            <img class="b-gallery__img" src="${require(`../../img/photo.jpg`)}" alt="img">
        </a>
      </li>
      <li class="b-gallery__item">
        <a class="b-gallery__lnk" href="#">
            <img class="b-gallery__img" src="${require(`../../img/photo.jpg`)}" alt="img">
            <p class="b-gallery__info">
              <span class="b-gallery__hash">#t.a.gz</span>
              <span class="b-gallery__follow">follow</span>
            </p>
        </a>
      </li>
    </ul>
</div>
