<div id="instagram-section" class="b-instagram">
    <h2 class="b-instagram__title">Inside The Sound</h2>
    <ul class="b-instagram__gallery">
        <li class="b-instagram__item">
            <a class="b-instagram__lnk" href="#">
                <img class="b-instagram__img" src="${require(`../../img/photo-1.jpg`)}" alt="img">
            </a>
        </li>
        <li class="b-instagram__item">
            <a class="b-instagram__lnk" href="#">
                <img class="b-instagram__img" src="${require(`../../img/photo-2.jpg`)}" alt="img">
            </a>
        </li>
        <li class="b-instagram__item">
            <a class="b-instagram__lnk" href="#">
                <img class="b-instagram__img" src="${require(`../../img/photo-3.jpg`)}" alt="img">
            </a>
        </li>
        <li class="b-instagram__item">
            <a class="b-instagram__lnk" href="#">
                <img class="b-instagram__img" src="${require(`../../img/photo-4.jpg`)}" alt="img">
            </a>
        </li>
    </ul>
    <div class="b-instagram__footer">
        <a href="https://www.instagram.com/theatomicguns/" class="b-instagram__info" target="_blank">
            <span class="b-instagram__follow">follow</span>
            <span class="b-instagram__hash">@theatomicguns</span>
        </a>
    </div>
</div>
