<div id="instagram-section" class="b-instagram">

  <h2 class="b-instagram__title"><%= instagram.title %></h2>

  <ul class="b-instagram__gallery">
    <% _.each(instagram.photos, function(item) { %>
      <li class="b-instagram__item">
        <a class="b-instagram__lnk" href="<%= item.link %>">
          <img class="b-instagram__img" src="<%= item.src %>" alt="<%= item.alt %>">
        </a>
      </li>
    <% }); %>
  </ul>

  <div class="b-instagram__footer">
    <a href="https://www.instagram.com/theatomicguns/" class="b-instagram__info" target="_blank">
      <span class="b-instagram__follow"><%= instagram.follow %></span>
      <span class="b-instagram__hash"><%= instagram.hash %></span>
    </a>
  </div>
</div>
