<nav id="social-section" class="b-social">
  <ul class="b-social__list">
    <li class="b-social__item">
      <a class="b-social__lnk" href="#apple">apple music</a>
    </li>
    <li class="b-social__item">
      <a class="b-social__lnk" href="#google">google music</a>
    </li>
    <li class="b-social__item">
      <a class="b-social__lnk" href="#facebook">facebook</a>
    </li>
    <li class="b-social__item">
      <a class="b-social__lnk" href="#soundcloud">soundcloud</a>
    </li>
    <li class="b-social__item">
      <a class="b-social__lnk" href="https://www.instagram.com/theatomicguns" target="_blank">instagram</a>
    </li>
    <li class="b-social__item">
      <a class="b-social__lnk" href="https://youtube.com/channel/UCgqQeMf-UuzOglxkYjM-USw" target="_blank">youtube</a>
    </li>
  </ul>
</nav>
