<nav id="social-section" class="social">
  <ul class="social-nav">
    <li class="social-item">
      <a class="social-lnk" href="#apple">apple music</a>
    </li>
    <li class="social-item">
      <a class="social-lnk" href="#google">google music</a>
    </li>
    <li class="social-item">
      <a class="social-lnk" href="#facebook">facebook</a>
    </li>
    <li class="social-item">
      <a class="social-lnk" href="#soundcloud">soundcloud</a>
    </li>
    <li class="social-item">
      <a class="social-lnk" href="#instagram">instagram</a>
    </li>
  </ul>
</nav>
