<div id="video-section" class="b-video">
    <div class="b-video__item">
        <div class="b-video__video-wrap">
            <iframe src="https://www.youtube.com/embed/M0jmSsQ5ptw?controls=1&showinfo=0"  allowfullscreen></iframe>
        </div>
        <p class="b-video__desc">Драконяча Кров</p>
    </div>
    <div class="b-video__item">
        <div class="b-video__video-wrap">
            <iframe src="https://www.youtube.com/embed/M0jmSsQ5ptw?controls=1&showinfo=0" allowfullscreen></iframe>
        </div>
        <p class="b-video__desc">Вiдьма</p>
    </div>
    <div class="b-video__item">
        <div class="b-video__video-wrap">
            <iframe src="https://www.youtube.com/embed/M0jmSsQ5ptw?controls=1&showinfo=0"  allowfullscreen></iframe>
        </div>
        <p class="b-video__desc">Не Людина</p>
    </div>
</div>
