<div id="video-section" class="video">
    <div class="b-card">
        <div class="b-card__video-wrap">
            <iframe src="https://www.youtube.com/embed/M0jmSsQ5ptw?controls=1&showinfo=0"  allowfullscreen></iframe>
        </div>
        <p class="desc">Драконяча Кров</p>
    </div>
    <div class="b-card">
        <div class="b-card__video-wrap">
            <iframe src="https://www.youtube.com/embed/M0jmSsQ5ptw?controls=1&showinfo=0" allowfullscreen></iframe>
        </div>
        <p class="desc">Драконяча Кров</p>
    </div>
    <div class="b-card">
        <div class="b-card__video-wrap">
            <iframe src="https://www.youtube.com/embed/M0jmSsQ5ptw?controls=1&showinfo=0"  allowfullscreen></iframe>
        </div>
        <p class="desc">Драконяча Кров</p>
    </div>
</div>
