<div class="desktop">
    <p class="bp-name">Desktop</p>
    <div class="container">
        <div class="left">
            <div id="desktop-subscribe"></div>
            ${require('../partials/chord.html')}
            <section id="desktop-header"></section>
            <section id="desktop-social"></section>
            ${require('../sections/footer.html')}
        </div>
        <div class="right">
            <section id="desktop-video"></section>
            <section id="desktop-instagram"></section>
        </div>
      </div>
</div>
