<div class="tablet">
    <p class="bp-name">Tablet</p>
    <div class="container">
      <div class="left">
          <section id="tablet-video"></section>
      </div>
      <div class="right">
          <section id="tablet-subscribe"></section>
          ${require('../partials/chord.html')}
          <section id="tablet-header"></section>
          <section id="tablet-social"></section>
          ${require('../sections/instagram.html')}
          ${require('../sections/footer.html')}
      </div>
    </div>
</div>
