<div class="tablet">
    <p class="bp-name">Tablet</p>
    <div class="container">
      <div class="left">
          <section id="tablet-video"></section>
      </div>
      <div class="right">
          <section id="tablet-subscribe"></section>
          <section id="tablet-chord"></section>
          <section id="tablet-header"></section>
          <section id="tablet-social"></section>
          <section id="tablet-instagram"></section>
          <section id="tablet-footer"></section>
      </div>
    </div>
</div>
