* {
  box-sizing: border-box;
  outline: none;

  &::after {
    box-sizing: border-box;
    outline: none;
  }

  &::before {
    box-sizing: border-box;
    outline: none;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

body {
  background: var(--main-background-color);
}

.bp-name {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 16px;
}

h1,
h2,
h3 {
  color: var(--title-color);
}
