* {
  box-sizing: border-box;
  outline: none;

  &::after {
    box-sizing: border-box;
    outline: none;
  }

  &::before {
    box-sizing: border-box;
    outline: none;
  }
}

html {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  background: var(--main-background-color);
}

h1,
h2,
h3 {
  color: var(--title-color);
}

#sources {
  display: none;
}
