.footer {
  padding-top: 1rem;

  @media (--lg-only) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }

  @media (--md-only) {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}
