.header {
  position: relative;
  width: 100%;
  padding-bottom: 1.5rem;
  text-align: center;

  &::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100px;
    content: '';
    background-image: linear-gradient(to top, rgba(13, 13, 16, 0), #0d0d10);
  }
}
