.video {
  position: relative;
  margin: 0 auto;
  background-color: rgba(13, 13, 16, 0.3);

  &::before {
    position: absolute;
    top: -50px;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    content: '';
    background-image: linear-gradient(to bottom, rgba(13, 13, 16, 0), #0d0d10);
    opacity: 0.7;
  }

  &::after {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    content: '';
    background-image: linear-gradient(to top, rgba(13, 13, 16, 0), #0d0d10);
    opacity: 0.7;
  }

  @media (--xs-only) {
    max-width: 248px;
  }

  @media (--sm-only) {
    max-width: 248px;
    margin-top: 110px;
  }

  @media (--md-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 20vh;
  }

  @media (--lg-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 20vh;
  }
}
