.desktop {
  display: none;

  @media (--md-only) {
    display: block;
  }

  @media (--lg-only) {
    display: block;
  }
}

.container {
  display: flex;
}

.left {
  flex: 1;
  //max-width: 320px;
}

.right {
  flex: 1;
}
