.desktop {
  display: none;

  @media (--lg-only) {
    display: block;
  }

  @media (--md-only) {
    display: block;
  }

  .container {
    display: flex;
    max-width: 944px;
    margin: 0 auto;
  }

  .left {
    position: relative;
    flex: 0 0 320px;
    max-width: 320px;
    height: 100vh;
    margin-right: 75px;
  }

  .left-main {
    position: fixed;
    width: 320px;
    height: 100%;
    transform: translateZ(1px);
  }

  .right {
    flex: 0 0 510px;
    max-width: 510px;
  }
}

