.tablet {
  display: none;

  @media (--sm-only) {
    display: block;
  }

  .container {
    display: flex;
    width: 730px;
    margin: 0 auto;
  }

  .left {
    position: relative;
    flex: 0 1 380px;
  }

  .right {
    position: relative;
    flex: 0 1 320px;
    height: 100vh;
  }

  .right-main {
    position: fixed;
    width: 320px;
    height: 100%;
    overflow: scroll;
  }
}
