.tablet {
  display: none;

  @media (--sm-only) {
    display: block;
  }

  .container {
    display: flex;
    width: 730px;
    margin: 0 auto;
  }

  .left {
    position: relative;
    z-index: 1;
    flex: 0 1 380px;
  }

  .right {
    position: relative;
    z-index: 2;
    flex: 0 0 320px;
    height: 100vh;
    overflow: hidden;
  }

  .right-main {
    position: fixed;
    width: 320px;
    height: 100%;
    margin-right: -14px;
    overflow-y: scroll;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
      width: 0;
    }
  }
}
