.tablet {
  display: none;

  @media (--sm-only) {
    display: block;
  }
}

.container {
  display: flex;

  @media (--sm-only) and (orientation: landscape) {
    width: 768px;
    margin: 0 auto;
  }
}

.left {
  position: relative;
  flex: 1;
}

.right {
  position: relative;
  flex: 0 1 320px;
}

