<div id="chord-section" class="b-chord">
  <div class="b-chord__item --first">
    <div class="b-chord__dot --first"></div>
  </div>
  <div class="b-chord__item --second">
    <div class="b-chord__dot --second"></div>
  </div>
  <div class="b-chord__item --third">
    <div class="b-chord__dot --third"></div>
  </div>
  <div class="b-chord__item --fourth">
    <div class="b-chord__dot --fourth"></div>
  </div>
  <div class="b-chord__item --fifth">
    <div class="b-chord__dot --fifth"></div>
  </div>
  <div class="b-chord__item --sixth">
    <div class="b-chord__dot --sixth"></div>
  </div>
  <div class="b-chord__background --position-top"></div>
  <div class="b-chord__background --position-bottom"></div>
</div>
