<ul id="phrases" class="b-phrases">
    <li class="b-phrases__text">“Не ображайся на критику, цінуй тих, хто бачить твої помилки”</li>
    <li class="b-phrases__text">“Ти можеш грати ще краще”</li>
    <li class="b-phrases__text">“Щодня ми робимо все, щоб наша музика стала досконалішою”</li>
    <li class="b-phrases__text">У тебе э право на помилку,  лише тоді коли ти не на сцені”</li>
    <li class="b-phrases__text">“Твої музичні вподобання - формують тебе як музиканта”</li>
    <li class="b-phrases__text">“Слухай як грають кумири, але грай крутіше за них”</li>
    <li class="b-phrases__text">“Музика, що народжується заради слави та грошей, і помирає від них”</li>
</ul>
