<div id="phrases" class="b-phrases">
    <p class="b-phrases__text">“Не ображайся на критику, цінуй тих, хто бачить твої помилки”</p>
    <p class="b-phrases__text">“Ти можеш грати ще краще”</p>
    <p class="b-phrases__text">“Щодня ми робимо все, щоб наша музика стала досконалішою”</p>
    <p class="b-phrases__text">У тебе э право на помилку,  лише тоді коли ти не на сцені”</p>
    <p class="b-phrases__text">“Твої музичні вподобання - формують тебе як музиканта”</p>
    <p class="b-phrases__text">“Слухай як грають кумири, але грай крутіше за них”</p>
    <p class="b-phrases__text">“Музика, що народжується заради слави та грошей, і помирає від них”</p>
    <p class="b-phrases__text"></p>
</div>
