<div id="subscribe-section" class="b-subscribe">
    <button id="subscribe-open" class="b-subscribe__open">
        <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Home-Mobile" transform="translate(-281.000000, -30.000000)" fill="#C7A266">
                    <g id="Header" transform="translate(-49.000000, -44.000000)">
                        <path d="M339,80 L345,80 L345,83 L339,83 L339,89 L336,89 L336,83 L330,83 L330,80 L336,80 L336,74 L339,74 L339,80 Z"
                              id="Menu"></path>
                    </g>
                </g>
            </g>
        </svg>
    </button>
    <!-- MAIN -->
    <div class="b-subscribe__main" id="subscribe-main">
        <button id="subscribe-close" class="b-subscribe__close">
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g class="icon-close" id="Home-Mobile" transform="translate(-281.000000, -30.000000)"
                       fill="#C7A266">
                        <g id="Header" transform="translate(-49.000000, -44.000000)">
                            <path d="M339,80 L345,80 L345,83 L339,83 L339,89 L336,89 L336,83 L330,83 L330,80 L336,80 L336,74 L339,74 L339,80 Z"
                                  id="Menu"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
        <!-- PHRASES -->
        ${require('../partials/phrases.html')}
        <p class="b-subscribe__label">Отримувати iнформацiю щодо виступiв гурту</p>
        <div class="b-subscribe__form">
            <form id="subscribe-form" class="b-form">
                <div class="b-form__group">
                    <input class="b-form__input --size-block" id="email" type="email" name="email" placeholder="email" required>
                </div>
                <button class="b-btn --size-block --type-uppercase" id="submit">Підписатись</button>
            </form>
        </div>
    </div>
</div>
