<div id="subscribe-section" class="b-subscribe">
    <button class="btn-open">
        <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
            <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                <g id="Home-Mobile" transform="translate(-281.000000, -30.000000)" fill="#C7A266">
                    <g id="Header" transform="translate(-49.000000, -44.000000)">
                        <path d="M339,80 L345,80 L345,83 L339,83 L339,89 L336,89 L336,83 L330,83 L330,80 L336,80 L336,74 L339,74 L339,80 Z"
                              id="Menu"></path>
                    </g>
                </g>
            </g>
        </svg>
    </button>
    <div class="menu-box">
        <button class="btn-close">
            <svg width="15px" height="15px" viewBox="0 0 15 15" version="1.1">
                <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                    <g class="icon-close" id="Home-Mobile" transform="translate(-281.000000, -30.000000)"
                       fill="#C7A266">
                        <g id="Header" transform="translate(-49.000000, -44.000000)">
                            <path d="M339,80 L345,80 L345,83 L339,83 L339,89 L336,89 L336,83 L330,83 L330,80 L336,80 L336,74 L339,74 L339,80 Z"
                                  id="Menu"></path>
                        </g>
                    </g>
                </g>
            </svg>
        </button>
        <form id="subscribe">
            <div class="field">
                <input type="email" name="email" required>
            </div>
            <button id="submit">Submit</button>
        </form>
    </div>
</div>
