.b-btn {
  display: inline-block;
  padding: 0 10px;
  font-size: 10px;
  font-weight: bold;
  line-height: 35px;
  color: #0b0b0c;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  cursor: pointer;
  background-color: #fff;
  border: none;

  &.--size-block {
    display: block;
    width: 100%;
  }

  &.--size-wide {
    min-width: 146px;
  }

  &.--type-uppercase {
    text-transform: uppercase;
  }

  &.--with-angle {
    position: relative;

    &::after {
      position: absolute;
      top: -11px;
      left: -11px;
      z-index: 100;
      display: block;
      width: 8px;
      height: 8px;
      content: '';
      border-top: 2px solid #3a3b3d;
      border-left: 2px solid #3a3b3d;
    }

    &::before {
      position: absolute;
      right: -11px;
      bottom: -11px;
      z-index: 100;
      display: block;
      width: 8px;
      height: 8px;
      content: '';
      border-right: 2px solid #3a3b3d;
      border-bottom: 2px solid #3a3b3d;
    }
  }
}
