.b-card {
  position: relative;
  margin-top: 1rem;
  margin-bottom: 1rem;

  @media (--md-only) {
    width: 49%;

    &:first-child {
      width: 100%;
    }
  }

  @media (--lg-only) {
    width: 49%;

    &:first-child {
      width: 100%;
    }
  }

  &__video-wrap {
    position: relative;
    height: 0;
    padding-top: 25px;
    padding-bottom: 56.25%; /* 16:9 */
    background-color: var(--main-background-color);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }

    &::after {
      position: absolute;
      top: -13px;
      left: -15px;
      width: 8px;
      height: 8px;
      content: '';
      border-top: 2px solid #3a3b3d;
      border-left: 2px solid #3a3b3d;
    }

    &::before {
      position: absolute;
      right: -15px;
      bottom: -13px;
      width: 8px;
      height: 8px;
      content: '';
      border-right: 2px solid #3a3b3d;
      border-bottom: 2px solid #3a3b3d;
    }
  }
}
