@keyframes first-string {
  from {
    opacity: 0.3;
    transform: translateX(-50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes second-string {
  from {
    opacity: 0.6;
    transform: translateX(-30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes third-string {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fourth-string {
  from {
    transform: translateX(10px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fifth-string {
  from {
    opacity: 06;
    transform: translateX(30px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes sixth-string {
  from {
    opacity: 0.3;
    transform: translateX(50px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

.b-chord {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(-50%);

  &__item {
    position: relative;
    width: 2px;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
    background-color: rgba(255, 255, 255, 0.1);

    &.--first {
      animation-name: first-string;
      animation-duration: 2s;
    }

    &.--second {
      animation-name: second-string;
      animation-duration: 2s;
    }

    &.--third {
      animation-name: third-string;
      animation-duration: 2s;
    }

    &.--fourth {
      animation-name: fourth-string;
      animation-duration: 2s;
    }

    &.--fifth {
      animation-name: fifth-string;
      animation-duration: 2s;
    }

    &.--sixth {
      animation-name: sixth-string;
      animation-duration: 2s;
    }
  }

  &__dot {
    position: absolute;
    left: 50%;
    width: 6px;
    height: 6px;
    background-color: #3a3a3e;
    transform: translateX(-50%) rotate(45deg);

    &.--first {
      transform: translateX(-50%) translateY(-20px) rotate(45deg);
    }

    &.--second {
      transform: translateX(-50%) translateY(411px) rotate(45deg);

      @media (--xs-only) {
        transform: translateX(-50%) translateY(417px) rotate(45deg);
      }

      @media (--sm-only) {
        transform: translateX(-50%) translateY(389px) rotate(45deg);
      }
    }

    &.--third {
      transform: translateX(-50%) translateY(291px) rotate(45deg);

      @media (--xs-only) {
        transform: translateX(-50%) translateY(297px) rotate(45deg);
      }

      @media (--sm-only) {
        transform: translateX(-50%) translateY(263px) rotate(45deg);
      }
    }

    &.--fourth {
      transform: translateX(-50%) translateY(370px) rotate(45deg);

      @media (--xs-only) {
        transform: translateX(-50%) translateY(376px) rotate(45deg);
      }

      @media (--sm-only) {
        transform: translateX(-50%) translateY(346px) rotate(45deg);
      }
    }

    &.--fifth {
      transform: translateX(-50%) translateY(247px) rotate(45deg);

      @media (--xs-only) {
        transform: translateX(-50%) translateY(253px) rotate(45deg);
      }

      @media (--sm-only) {
        transform: translateX(-50%) translateY(219px) rotate(45deg);
      }
    }

    &.--sixth {
      transform: translateX(-50%) translateY(-20px) rotate(45deg);
    }
  }

  &__background {
    &.--position-top {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 1000;
      width: 200%;
      height: 150px;
      background-image: linear-gradient(to top, rgba(11, 11, 12, 0), rgba(11, 11, 12, 1));
      opacity: 0.7;
      transform: translateX(-50%);
    }

    &.--position-bottom {
      position: absolute;
      top: 150px;
      left: 50%;
      z-index: 1000;
      width: 200%;
      height: 100%;
      background-image: linear-gradient(to bottom, rgba(11, 11, 12, 0), rgba(11, 11, 12, 1));
      opacity: 0.7;
      transform: translateX(-50%);
    }
  }
}
