@keyframes move {
  0% {
    transform: translateY(0) translateX(-50%) rotate(45deg);
  }

  50% {
    transform: translateY(100px) translateX(-50%) rotate(45deg);
  }

  100% {
    transform: translateY(0) translateX(-50%) rotate(45deg);
  }
}

@keyframes first-string {
  from {
    transform: translateX(-50px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes second-string {
  from {
    transform: translateX(-30px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes third-string {
  from {
    transform: translateX(-10px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fourth-string {
  from {
    transform: translateX(10px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes fifth-string {
  from {
    transform: translateX(30px);
  }

  to {
    transform: translateX(0);
  }
}

@keyframes sixth-string {
  from {
    transform: translateX(50px);
  }

  to {
    transform: translateX(0);
  }
}

.b-chord {
  position: absolute;
  top: 0;
  left: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  transform: translateX(-50%);

  &__item {
    position: relative;
    width: 2px;
    height: 100%;
    margin-right: 12px;
    margin-left: 12px;
    background-color: #fff;
    opacity: 0.1;

    &.--first {
      animation-name: first-string;
      animation-duration: 2s;
    }

    &.--second {
      animation-name: second-string;
      animation-duration: 2s;
    }

    &.--third {
      animation-name: third-string;
      animation-duration: 2s;
    }

    &.--fourth {
      animation-name: fourth-string;
      animation-duration: 2s;
    }

    &.--fifth {
      animation-name: fifth-string;
      animation-duration: 2s;
    }

    &.--sixth {
      animation-name: sixth-string;
      animation-duration: 2s;
    }
  }

  &__dot {
    position: absolute;
    left: 50%;
    width: 6px;
    height: 6px;
    margin-top: 200px; /* TOP MARGIN */
    background-color: #fff;
    transform: translateX(-50%) rotate(45deg);
    animation-name: move;
    animation-duration: 3s;
    animation-iteration-count: infinite;

    &.--first {
      animation-delay: 1s;
    }

    &.--second {
      animation-delay: 0.8s;
    }

    &.--third {
      animation-delay: 0.6s;
    }

    &.--fourth {
      animation-delay: 0.4s;
    }

    &.--fifth {
      animation-delay: 0.2s;
    }

    &.--sixth {
      animation-delay: 0s;
    }
  }
}
