.b-footer-logo {
  position: relative;
  text-align: center;

  @media (--lg-only) and (max-height: 700px) {
    display: none;
  }

  @media (--md-only) and (max-height: 700px) {
    display: none;
  }

  &__lnk {
    display: block;
  }
}
