.b-form {
  position: relative;

  &::after {
    position: absolute;
    top: -11px;
    left: -11px;
    width: 8px;
    height: 8px;
    content: '';
    border-top: 2px solid rgba(255, 255, 255, 0.2);
    border-left: 2px solid rgba(255, 255, 255, 0.2);
  }

  &::before {
    position: absolute;
    right: -11px;
    bottom: -11px;
    width: 8px;
    height: 8px;
    content: '';
    border-right: 2px solid rgba(255, 255, 255, 0.2);
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
  }

  &.--type-success {
    &::after {
      display: none;
    }

    &::before {
      display: none;
    }
  }

  &__input {
    padding: 0 15px;
    font-size: 13px;
    font-weight: 300;
    line-height: 35px;
    color: #fff;
    background-color: #000;
    border: solid 2px #3a3b3d;
    border-radius: 0;
    outline: none;

    &.--size-block {
      display: block;
      width: 100%;
    }

    &.--type-error {
      border-color: #e35a59;
    }
  }

  &__error {
    display: block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 13px;
    line-height: 24px;
    color: #fff;
    text-align: left;
    background-color: #e35a59;
  }

  &__group {
    margin-bottom: 0.75rem;
  }
}
