.b-footer-nav {
  padding: 0;
  margin: 0.5rem 0 0;
  text-align: center;
  list-style-type: none;

  &__item {
    display: block;
  }

  &__lnk {
    display: block;
    margin-bottom: 0.25rem;
    font-size: 10px;
    font-weight: 300;
    line-height: 1rem;
    color: #fff;
    text-decoration: none;
    letter-spacing: 0.4px;
  }
}
