.b-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 248px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;

  @media (--md-only) {
    flex-wrap: nowrap;
    max-width: 100%;
    margin-right: -6px;
    margin-left: -6px;
  }

  @media (--lg-only) {
    flex-wrap: nowrap;
    max-width: 100%;
    margin-right: -6px;
    margin-left: -6px;
  }

  &::after {
    position: absolute;
    top: -13px;
    left: -15px;
    display: block;
    width: 8px;
    height: 8px;
    content: '';
    border-top: 2px solid #3a3b3d;
    border-left: 2px solid #3a3b3d;
  }

  &::before {
    position: absolute;
    right: -15px;
    bottom: -1px;
    display: block;
    width: 8px;
    height: 8px;
    content: '';
    border-right: 2px solid #3a3b3d;
    border-bottom: 2px solid #3a3b3d;
  }

  &__item {
    box-sizing: border-box;
    max-width: 118px;
    margin-bottom: 12px;

    @media (--md-only) {
      margin-right: 6px;
      margin-left: 6px;
    }

    @media (--lg-only) {
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  &__lnk {
    display: block;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }
}
