.b-gallery {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 248px;
  padding: 0;
  margin: 0 auto;
  list-style-type: none;
  background-color: rgba(13, 13, 16, 0.65);

  @media (--md-only) {
    flex-wrap: nowrap;
    max-width: 100%;
    margin-right: -6px;
    margin-left: -6px;
  }

  @media (--lg-only) {
    flex-wrap: nowrap;
    max-width: 100%;
    margin-right: -6px;
    margin-left: -6px;
  }

  &::after {
    position: absolute;
    top: -13px;
    left: -15px;
    z-index: 1000;
    display: block;
    width: 8px;
    height: 8px;
    content: '';
    border-top: 2px solid #3a3b3d;
    border-left: 2px solid #3a3b3d;
  }

  &::before {
    position: absolute;
    right: -15px;
    bottom: -1px;
    z-index: 1000;
    display: block;
    width: 8px;
    height: 8px;
    content: '';
    border-right: 2px solid #3a3b3d;
    border-bottom: 2px solid #3a3b3d;
  }

  &__item {
    box-sizing: border-box;
    max-width: 118px;
    margin-bottom: 12px;

    @media (--md-only) {
      margin-right: 6px;
      margin-left: 6px;
    }

    @media (--lg-only) {
      margin-right: 6px;
      margin-left: 6px;
    }
  }

  &__lnk {
    position: relative;
    display: block;
  }

  &__img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  &__info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
  }

  &__follow {
    position: absolute;
    top: 48px;
    left: 21px;
    display: inline-block;
    padding-right: 5px;
    padding-left: 5px;
    font-size: 10px;
    font-weight: 600;
    line-height: 14px;
    color: #000;
    text-transform: uppercase;
    background-color: #fff;
  }

  &__hash {
    position: absolute;
    top: 60px;
    left: 14px;
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    color: #fff;
    background-color: #121317;
  }
}
