.b-logo {
  position: absolute;
  top: 64px;
  left: 50%;
  margin: 0;
  background: url('~/img/logo.svg') no-repeat 1px 0;
  background-size: 97.25%;
  transform: translateX(-50%);

  &__lnk {
    display: block;
    width: 150px;
    height: 108px;
    text-indent: -9999px;
  }
}
