@keyframes move {
  from {
    transform: translateX(-50%) translateY(-10px);
  }
  to {
    transform: translateX(-50%) translateY(0);
  }
}

.b-logo {
  position: absolute;
  top: 64px;
  left: 50%;
  margin: 0;
  background: url('~/img/logo.svg') no-repeat 1px 0;
  background-size: 97.25%;
  transform: translateX(-50%);
  animation-name: move;
  animation-timing-function: ease;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  z-index: 100;

  &__lnk {
    display: block;
    width: 150px;
    height: 108px;
    text-indent: -9999px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
}
