.b-phrases {
  margin: 0 auto;

  &__text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 300;
    color: #c7a266;
    text-align: left;
    letter-spacing: 0.3px;
  }
}
