.b-phrases {
  max-width: 220px;
  padding: 0;
  margin: 0 auto;
  list-style: none;

  &__text {
    padding: 0;
    margin: 0;
    font-size: 15px;
    font-style: italic;
    font-weight: 500;
    line-height: 20px;
    color: #d2ab92;
    text-align: left;
    letter-spacing: 0.3px;
  }
}
