@keyframes first-move {
  from {
    opacity: 0;
    transform: translateY(5px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes second-move {
  from {
    opacity: 0;
    transform: translateY(10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes third-move {
  from {
    opacity: 0;
    transform: translateY(15px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fourth-move {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fifth-move {
  from {
    opacity: 0;
    transform: translateY(25px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.b-social {
  position: relative;
  z-index: 100;

  &__list {
    padding: 0;
    margin: 0 0 3rem;
    list-style-type: none;

    @media (--xs-only) {
      margin-bottom: 80px;
    }

    @media (--lg-only) {
      margin-bottom: 80px;
    }

    @media (--md-only) {
      margin-bottom: 80px;
    }

    @media (--sm-only) {
      margin-bottom: 80px;
    }
  }

  &__item {
    margin-top: 0.75rem;
    margin-bottom: 0.75rem;
    text-align: center;
    opacity: 0;
    animation-duration: 2s;
    animation-timing-function: ease;
    animation-delay: 0s;
    will-change: transform;
    animation-fill-mode: forwards;

    &:nth-child(1) {
      animation-name: first-move;
    }

    &:nth-child(2) {
      animation-name: second-move;
    }

    &:nth-child(3) {
      animation-name: third-move;
    }

    &:nth-child(4) {
      animation-name: fourth-move;
    }

    &:nth-child(5) {
      animation-name: fifth-move;
    }

    @media (--xs-only) {
      height: 25px;
    }

    @media (--lg-only) {
      height: 25px;
    }

    @media (--md-only) {
      height: 25px;
    }
  }

  &__lnk {
    position: relative;
    font-size: 10px;
    font-weight: 500;
    line-height: 25px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    will-change: transition;

    &::after {
      position: absolute;
      bottom: -2px;
      left: -10px;
      width: 15px;
      height: 2px;
      content: '';
      background-color: #fff;
      opacity: 0;
      transition: all 0.3s ease;
      transform: translateX(15px);
    }

    &::before {
      position: absolute;
      top: -2px;
      right: -10px;
      width: 15px;
      height: 2px;
      content: '';
      background-color: #fff;
      opacity: 0;
      transition: all 0.3s ease;
      transform: translateX(-15px);
    }

    @media (--xs-only) {
      font-size: 11px;
      font-weight: 600;
    }

    @media (--lg-only) {
      display: inline-block;
      line-height: 30px;
    }

    @media (--md-only) {
      display: inline-block;
      line-height: 30px;
    }

    @media (--lg-only) {
      &:hover {
        &::after {
          opacity: 1;
          transform: translateX(0);
        }

        &::before {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }

    @media (--md-only) {
      &:hover {
        &::after {
          opacity: 1;
          transform: translateX(0);
        }

        &::before {
          opacity: 1;
          transform: translateX(0);
        }
      }
    }
  }
}
