.b-subscribe {
  position: absolute;
  z-index: 1000;
  width: 100%;
  border: 1px solid red;
}

.menu-box {
  position: fixed;
  z-index: 1000;
  display: none;
  width: 100vw;
  height: 100vh;
  padding: 1rem;
  color: #fff;
  background-color: var(--main-background-color);
  border: solid 10px #232126;

  &.--state-open {
    display: block;
  }

  @media (--sm-only) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
  }

  @media (--md-only) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
  }

  @media (--lg-only) {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 500px;
  }
}

.btn-open {
  position: absolute;
  right: 0;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid red;
}

.btn-close {
  position: absolute;
  top: -10px;
  right: -10px;
  z-index: 1000;
  display: inline-block;
  width: 3rem;
  height: 3rem;
  color: #fff;
  background-color: transparent;
  border: 1px solid red;
  transform: rotate(45deg);
}

.icon-close {
  fill: rgba(255, 255, 255, 0.4);
}
