.b-subscribe {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;

  &__open {
    position: absolute;
    top: 8px;
    right: 0;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: none;

    &:hover {
      .icon-open {
        fill: rgba(255, 255, 255, 0.4);
      }
    }
  }

  &__close {
    position: absolute;
    top: -2px;
    right: -10px;
    z-index: 1000;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: rotate(45deg);
  }

  &__main {
    position: fixed;
    top: 0;
    z-index: 1000;
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: 87px;
    padding-right: 50px;
    padding-left: 50px;
    color: #fff;
    background-color: var(--main-background-color);
    border: solid 10px #232126;

    &.--state-open {
      display: block;
    }

    @media (--sm-only) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }

    @media (--md-only) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }

    @media (--lg-only) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }
  }

  &__form {
    position: relative;
    max-width: 220px;
    margin: auto;

    &::after {
      position: absolute;
      top: -11px;
      left: -11px;
      width: 8px;
      height: 8px;
      content: '';
      border-top: 2px solid rgba(255, 255, 255, 0.2);
      border-left: 2px solid rgba(255, 255, 255, 0.2);
    }

    &::before {
      position: absolute;
      right: -11px;
      bottom: -11px;
      width: 8px;
      height: 8px;
      content: '';
      border-right: 2px solid rgba(255, 255, 255, 0.2);
      border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    }
  }

  &__label {
    max-width: 220px;
    padding-right: 1rem;
    margin: 7rem auto 1rem;
    font-size: 10px;
    font-weight: 500;
    line-height: 0.75rem;
    color: rgba(255, 255, 255, 0.71);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    @media (--xs-only) and (orientation: landscape) {
      margin-top: 1rem;
    }
  }
}

.icon-close {
  fill: rgba(255, 255, 255, 0.4);
}
