.b-subscribe {
  position: absolute;
  top: 0;
  z-index: 1000;
  width: 100%;

  &__open {
    position: absolute;
    top: 8px;
    right: 0;
    z-index: 8000;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    &:hover {
      .icon-open {
        fill: #e2bea7;
      }
    }
  }

  &__close {
    position: absolute;
    top: -2px;
    right: -10px;
    z-index: 1000;
    display: inline-block;
    width: 3rem;
    height: 3rem;
    color: #fff;
    cursor: pointer;
    background-color: transparent;
    border: none;
    transform: rotate(45deg);
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }

  &__main {
    position: fixed;
    top: 0;
    z-index: 9000;
    display: none;
    width: 100vw;
    height: 100vh;
    padding-top: 10vh;
    padding-right: 50px;
    padding-left: 50px;
    color: #fff;
    background-color: var(--main-background-color);
    border: solid 10px #17181d;

    &.--state-open {
      display: block;
    }

    @media (--sm-only) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }

    @media (--md-only) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }

    @media (--lg-only) {
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 500px;
    }
  }

  &__form {
    position: absolute;
    bottom: 80px;
    width: 200px;
    margin: auto;

    @media (--xs-only) {
      position: relative;
      display: block;
      width: 220px;
      margin: 30vh auto 0;
    }
  }

  &__success {
    display: none;
    padding: 0 15px;
    font-size: 10px;
    font-weight: 500;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    background-color: #000;
    border: solid 2px rgba(136, 255, 9, 0.25);
    border-radius: 0;
    outline: none;
  }

  &__label {
    max-width: 220px;
    padding-right: 1rem;
    margin: 7rem auto 1rem;
    margin-top: 0;
    font-size: 10px;
    font-weight: 500;
    line-height: 0.75rem;
    color: rgba(255, 255, 255, 0.71);
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 0.3px;

    &.--type-success {
      display: none;
      color: green;
    }

    @media (--xs-only) and (orientation: landscape) {
      margin-top: 1rem;
    }
  }
}

.icon-close {
  fill: rgba(255, 255, 255, 0.4);
}
