@keyframes move-video-mobile {
  from {
    transform: translateY(20px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes move-video-desktop {
  from {
    transform: translateY(10px) scale(1.025);
    opacity: 0;
  }

  to {
    transform: translateY(0) scale(1);
    opacity: 1;
  }
}

.b-video {
  position: relative;
  margin: 0 auto;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 1s;
  opacity: 1;
  background-color: rgba(11, 11, 12, 0.6);

  animation-fill-mode: forwards;

  @media (--xs-only) {
    animation-name: move-video-mobile;
    opacity: 0;
  }

  @media (--sm-only) {
    animation-name: move-video-desktop;
    animation-delay: 2s;
    opacity: 0;

    animation-fill-mode: forwards;
  }

  @media (--md-only) {
    animation-name: move-video-desktop;
    animation-delay: 2s;
    opacity: 0;

    animation-fill-mode: forwards;
  }

  @media (--lg-only) {
    animation-name: move-video-desktop;
    animation-delay: 2s;
    opacity: 0;
  }

  &::before {
    content: "";
    position: absolute;
    top: -350px;
    left: 0;
    display: block;
    width: 100%;
    height: 350px;
    opacity: 0.5;
    background-image: linear-gradient(to bottom, rgba(11, 11, 12, 0), rgba(11, 11, 12, 1));
  }

  &::after {
    content: "";
    position: absolute;
    bottom: -50px;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    opacity: 0.7;
    background-image: linear-gradient(to top, rgba(11, 11, 12, 0), rgba(11, 11, 12, 1));
  }

  @media (--xs-only) {
    max-width: 248px;
  }

  @media (--sm-only) {
    max-width: 248px;
    margin-top: 110px;
  }

  @media (--lg-only), (--md-only) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 10vh;
    padding: 0;
  }

  &__item {
    position: relative;
    z-index: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &::after {
      content: "";
      position: absolute;
      top: -10px;
      left: -11px;
      width: 8px;
      height: 8px;
      border-top: 2px solid rgba(255, 255, 255, 0.15);
      border-left: 2px solid rgba(255, 255, 255, 0.15);
    }

    &::before {
      content: "";
      position: absolute;
      right: -11px;
      bottom: 19px;
      width: 8px;
      height: 8px;
      border-right: 2px solid rgba(255, 255, 255, 0.15);
      border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    }

    @media (--sm-only) {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (--xs-only) {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (--lg-only), (--md-only) {
      width: 49%;

      &:nth-child(2) {
        &::before {
          display: none;
        }
      }

      &:nth-child(even) {
        &::before {
          display: none;
        }

        &::after {
          display: block;
        }
      }

      &:nth-child(odd) {
        &::after {
          display: none;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &:first-child {
        width: 100%;

        &::after {
          display: block;
        }

        &::before {
          display: block;
        }
      }
    }
  }

  &__wrap {
    position: relative;
    overflow: hidden;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    background-color: var(--main-background-color);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  &__desc {
    font-size: 13px;
    line-height: 15px;
    font-weight: 300;
    position: relative;
    display: inline-block;
    max-width: 90%;
    min-height: 25px;
    margin: 5px auto 0;
    padding: 0.25rem 0.5rem;
    letter-spacing: 0.2px;
    color: #fff;
    background-color: #202125;
  }

  &__play {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    display: block;
    width: 100px;
    height: 100px;
    cursor: pointer;
    border: 1px solid red;
  }

  &__preview {
    position: absolute;
    top: -16.82%;
    left: 0;
    width: 100%;
    opacity: 0.7;
    border: 1px solid blue;
  }
}
