@keyframes move-video {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.b-video {
  position: relative;
  margin: 0 auto;
  background-color: rgba(11, 11, 12, 0.6);
  opacity: 1;
  animation-name: move-video;
  animation-duration: 2s;

  &::before {
    position: absolute;
    top: -350px;
    left: 0;
    display: block;
    width: 100%;
    height: 350px;
    content: "";
    background-image: linear-gradient(to bottom, rgba(11, 11, 12, 0), rgba(11, 11, 12, 1));
    opacity: 0.5;
  }

  &::after {
    position: absolute;
    bottom: -50px;
    left: 0;
    display: block;
    width: 100%;
    height: 50px;
    content: "";
    background-image: linear-gradient(to top, rgba(11, 11, 12, 0), rgba(11, 11, 12, 1));
    opacity: 0.7;
  }

  @media (--xs-only) {
    max-width: 248px;
  }

  @media (--sm-only) {
    max-width: 248px;
    margin-top: 110px;
  }

  @media (--lg-only), (--md-only) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
    margin-top: 10vh;
  }

  &__item {
    position: relative;
    z-index: 100;
    margin-top: 1rem;
    margin-bottom: 1rem;

    &::after {
      position: absolute;
      top: -10px;
      left: -11px;
      width: 8px;
      height: 8px;
      content: "";
      border-top: 2px solid rgba(255, 255, 255, 0.15);
      border-left: 2px solid rgba(255, 255, 255, 0.15);
    }

    &::before {
      position: absolute;
      right: -11px;
      bottom: 19px;
      width: 8px;
      height: 8px;
      content: "";
      border-right: 2px solid rgba(255, 255, 255, 0.15);
      border-bottom: 2px solid rgba(255, 255, 255, 0.15);
    }

    @media (--sm-only) {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (--xs-only) {
      margin-bottom: 2.5rem;

      &:last-child {
        margin-bottom: 0;
      }
    }

    @media (--lg-only), (--md-only) {
      width: 49%;

      &:nth-child(2) {
        &::before {
          display: none;
        }
      }

      &:nth-child(even) {
        &::before {
          display: none;
        }

        &::after {
          display: block;
        }
      }

      &:nth-child(odd) {
        &::after {
          display: none;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &:first-child {
        width: 100%;

        &::after {
          display: block;
        }

        &::before {
          display: block;
        }
      }
    }
  }

  &__wrap {
    position: relative;
    height: 0;
    padding-bottom: 56.25%; /* 16:9 */
    overflow: hidden;
    background-color: var(--main-background-color);

    iframe {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 1;
      width: 100%;
      height: 100%;
      border: 0;
    }
  }

  &__desc {
    position: relative;
    display: inline-block;
    max-width: 90%;
    min-height: 25px;
    padding: 0.25rem 0.5rem;
    margin: 5px auto 0;
    font-size: 13px;
    font-weight: 300;
    line-height: 15px;
    color: #fff;
    letter-spacing: 0.2px;
    background-color: #202125;
  }

  &__play {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 1;
    display: block;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0.9;
    transform: translate(-50%, -50%);

    &:hover {
      opacity: 1;
    }
  }

  &__preview {
    position: absolute;
    top: -16.82%;
    left: 0;
    width: 100%;
    cursor: pointer;
    opacity: 0.7;
  }
}
